# Base de données
MONGO_URI=mongodb://localhost:27017/stageflow

# Authentification JWT
JWT_SECRET=remplace_par_un_secret_solide
JWT_EXPIRES_IN=7d

# Serveur
PORT=5000
CLIENT_URL=http://localhost:5173

# API externe (Gemini AI)
GEMINI_API_KEY=ta_cle_api_ici
